services:
  mongo:
    image: mongo:latest
    container_name: my_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis-server
    restart: unless-stopped
    command: redis-server --bind 0.0.0.0 --appendonly no
    ports:
      - "6379:6379"
    networks:
      - app-network

  backend:
    build: ./back-end
    container_name: primtrade-backend
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - mongo
      - redis
    environment:
      PORT: 8000
      MONGODB_URL: mongodb://my_mongo:27017/primatrade
      JWT_SECRET: dfsjalfdoeiruweoi
      ADMIN_PASSWORD: admin123
      ADMIN_EMAIL: admin@example.com
      REDIS_HOST: redis-server
      REDIS_PORT: 6379

  frontend:
    build: ./front-end
    container_name: primtrade-frontend
    ports:
      - "5173:5173"
    networks:
      - app-network
    environment:
      VITE_API_URL: http://localhost:8000

networks:
  app-network:

volumes:
  mongo-data:
    external: true
    name: mongo-data
  mongo-config:
